<div class="footer-container">
  <div class="footer-content d-none d-md-flex">
    <div class="footer-left d-flex gap-2">
      <button mat-flat-button class="reset-btn-pc" (click)="onResetButtonClick()">
        Reset
      </button>
      <button mat-flat-button class="info-btn">Add. info</button>
      <button mat-flat-button class="discount-btn">Discount</button>
      <button mat-flat-button class="draft-btn">Draft</button>
    </div>

    <p class="col-4 bg-light text-center px-3 py-1">
      Total:<br />
      <span class="h4 fw-bold">Tk. {{ cartService.getTotalAmount() | number:'1.2-2' }}</span>
    </p>

    <div class="footer-right d-flex gap-3">
      <button class="btn btn-outline-secondary">
        <i class="bi bi-calculator"></i>
      </button>
      <button class="btn btn-success d-flex align-items-center" (click)="openPaymentDrawer()">
        Payment
        <span class="ms-2">Tk. {{ cartService.getTotalAmount() | number:'1.2-2' }}</span>
        <i class="bi bi-arrow-right ms-2"></i>
      </button>
    </div>
  </div>

  <div *ngIf="isMobile">
  <div *ngIf="activeComponent === 'products'">
    <div class="d-flex d-md-none align-items-center justify-content-between px-3 py-2">
        <button (click)="onResetButtonClick()" class="btn btn-white text-danger py-1 px-2 reset-btn">
            <i class="bi bi-arrow-repeat"></i>
        </button>
        
        <button (click)="setActiveComponent.emit('cart')" class="btn w-75 d-flex align-items-center justify-content-between text-white mbl-btn">
            <span>{{ cartService.getCartItemsCount() }} Items</span>
            <span class="d-flex align-items-center gap-2">Tk. {{ cartService.getTotalAmount() | number:'1.2-2' }}  <i class="bi bi-chevron-right"></i></span>
        </button>
    </div>
  </div>

  <div *ngIf="activeComponent === 'cart'" class="d-flex d-md-none align-items-center justify-content-between px-3 font-weight-semibold text-white">
    <button (click)="setActiveComponent.emit('products')" class="btn w-1/3 d-flex align-items-center gap-2 justify-content-center text-white mbl-btn">
        <i class="bi bi-arrow-left"></i>
        Back
    </button>
    
    <p class="w-1/3 bg-light text-dark text-center px-1 py-2">
        Total:<br />
        <span class="h5 font-weight-bold">Tk. {{ cartService.getTotalAmount() | number:'1.2-2' }}</span>
    </p>

    <button class="btn w-1/3 d-flex align-items-center gap-2 justify-content-center text-white mbl-btn" (click)="openPaymentDrawer()">
      Payment <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>
</div>
